body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {

  background: darkmagenta;
  color: white;
  font-size: 32px;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;

}

.container {
  display: flex;
  flex: 1;
}

.footer {

  background: #eee;
  color: darkmagenta;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;

}

.sidebar ul li a {
  text-decoration: none;
  font-size: 24px;

}

ul {
  padding: 0px;
}

.sidebar ul li {
  list-style-type: none;
  padding: 16px;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex-shrink: 0;

}

.card-container {
  display: flex;
  padding: 48px;
  flex-wrap: wrap;
  gap: 32px;


}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  padding: 16px;
  width: 200px;
  height: 200px;


}