* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 4px;
  grid-template-areas:
    "header header"
    "sidebar navbar"
    "sidebar article"
    "footer footer";
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-area: header;
  display: inline-grid;
  grid-template-columns: 1fr 4fr;
}

ul {
  display: grid;
  list-style: none;
  justify-content: space-between;
}
ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.menu ul,
.menu li {
  font-size: 16px;
  grid-template-columns: repeat(4, 1fr);

}

.sidebar {
  background-color: #c50208;
  grid-area: sidebar;
  display: grid;
  gap: 50px;
}
.sidebar .photo,
.sidebar .side-content {
  display: grid;
  justify-content: center;
  align-items: center;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #c50208;
  grid-area: navbar;
}
.nav ul {
  grid-template-columns: repeat(3, 1fr);
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
  grid-area: article;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #ffffff;
  color: black;
  text-align: center;
  height: 200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-area: footer;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}
